.body{
    background-color: blueviolet;
}
.container{
    width: 100%;
    background-color: crimson;
}
.left_block{
    list-style: decimal;
    width: 15em;
    float: left;
    background-color:lavender;
    

}
.right_block{
    width: 1200px;
    background-color: grey;
    margin-bottom: 0.2em;
    float: left;
    padding-left: 1em;
}
img {
    float: right;
}
.clear{
clear: both;
}
.footer{
    clear:both;
    width: 100%;
    background-color: lightgreen;
}